#include <windows.h>

// NOTE: This file now acts as a template. Build script replaces the
// placeholders {{FILE_VERSION_COMMAS}} and {{FILE_VERSION_DOTS}} with the
// current Cargo package version (fourth component forced to 0).
// Do not manually edit versions here; change Cargo.toml version instead.
VS_VERSION_INFO VERSIONINFO
FILEVERSION     {{FILE_VERSION_COMMAS}}
PRODUCTVERSION  {{FILE_VERSION_COMMAS}}
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Triffit"
            VALUE "FileDescription", "Show Bluetooth Devices Panel"
            VALUE "FileVersion", "{{FILE_VERSION_DOTS}}"
            VALUE "InternalName", "restore-wink-bt"
            VALUE "LegalCopyright", "Copyright (c) 2025, Triffit"
            VALUE "OriginalFilename", "restore-wink-bt.exe"
            VALUE "ProductName", "Show Bluetooth Devices Panel"
            VALUE "ProductVersion", "{{FILE_VERSION_DOTS}}"
            VALUE "Authors", "jopl@Triffit"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Include the icon
IDI_ICON1 ICON "app.ico"